*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background: url("images/images (48).jpeg") center/cover;
    overflow-x: hidden;
    height: 100vh;
    padding: 1px;
    
    
}


h1{
    color: black;
    text-align: center;


}
.lien-album{
    text-decoration: none;
    position: relative;
    left: 25%;
    top: 400px;
    font-size: 30px;
    text-justify: center;
    color: white;
    background: rgba(218, 159, 168, 0.808);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    font-weight: bolder;
     box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.13);
    
    
}
.image{
  /* Cette découpe complexe dessine la forme du chien (exemple simplifié) */
  clip-path: path("M 10 130 C 20 100, 50 100, 60 130 S 100 150, 110 130 M 150 130 C 140 100, 110 100, 100 130 S 60 150, 50 130 ...");
  width: 100%;
  width: 300px;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  position: relative;
  left: 15%;
  animation: rotation 50s ease infinite forwards;
  box-shadow: 1px 1px 10px black;

}
.texte-maya{
    font-size: 15px;
    font-style: oblique;
    margin-bottom: 50px;
    position:relative;
    /* left: 40px; */
    text-align: center;
    color: rgb(165, 162, 162)smoke;
}
.imagedefond{
    width: 100%;
    height: 500px;
    background: url("images/SLAK4984.JPG") center/cover;
}
.flou-image{
    width: 100vw;
    height:507px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
    position: relative;
    top: 0;
}
.bateme{
    position: relative;
    bottom: 100px;
    left: 0;
    
    color: white;
    
    
}    
.textebateme{
    position: relative;
    bottom: 90px;
    color: white;
    left: 100px;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.album{
    display: flex;
}    



@keyframes rotation{
    from{ transform: rotate(0);}
    to{ transform: rotate(360deg);}
}

.photo{
    width:200px;
    cursor:pointer;
    transition:0.3s;
}

.photo:hover{
    transform:scale(1.05);
}

/* Fenêtre plein écran */
.lightbox{
    display:none;
    position:fixed;
    z-index:9999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    backdrop-filter: blur(10px);

    justify-content:center;
    align-items:center;
}

.lightbox img{
    max-width:90%;
    max-height:90%;
    border-radius:10px;
}

.close{
    position:absolute;
    top:20px;
    right:30px;
    color:white;
    font-size:40px;
    cursor:pointer;
}

.contenair{
    width: 100vw;
    min-height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: -45px;
   
}

.boite1 .flou{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
}
.boite2 .flou{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
}
.boite3 .flou{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
}
.boite4 .flou{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
}
.boite5 .flou{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
}
.boite6 .flou{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.849));
}
.boite1{
    width: 410px;
    height: 400px;
    background: url("images/IMG_7857.JPG") center/cover;
    position: relative;

}

    
  

    
.boite2{
    min-width: 410px;
    height: 400px;
    background: url("images/IMG_8517.JPG") center/cover;
    position: relative;
    background-repeat: no-repeat;

}
.boite3{
    width: 200px;
    height: 400px;
    background: url("images/IMG_8233.JPG") center/cover;
    position: relative;

}
.boite4{
    width: 200px;
    height: 400px;
    background: url("images/IMG_7857.JPG") center/cover;
    position: relative;

}
.boite5{
    width: 200px;
    height: 200px;
    background: url("images/IMG_7857.JPG") center/cover;
    position: relative;

}
.boite6{
    width: 200px;
    height: 200px;
    background: url("images/IMG_7857.JPG") center/cover;
    position: relative;

}

.boite1 p, .boite1 h3 {
    color: white;
    position: relative;
    top: 300px;
    left: 10px;
    font-size: 12px;

}

.boite2 p,.boite2 h3{
    color: white;
    position: relative;
    top: 220px;
    left: 10px;
    font-size: 12px;

}
.boite3 p,.boite3 h3{
    color: white;
    position: relative;
    top: 320px;
    left: 10px;
    font-size: 12px;

}
.boite4 p,.boite4 h3{
    color: white;
    position: relative;
    top: 150px;
    left: 10px;
    font-size: 12px;

}
.boite5 p,.boite5 h3{
    color: white;
    position: relative;
    top: 150px;
    left: 10px;
    font-size: 12px;

}
.boite6 p,.boite6 h3{
    color: white;
    position: relative;
    top: 150px;
    left: 10px;
    font-size: 12px;

}

/* zoom d'image animation ===================================*/


@keyframes zoom{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.02);
    }

    100%{
        transform: scale(1);
    }
}
.zoom-img{
    animation: zoom 5s ease-in-out infinite;
}

